.dashboard-header {
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  // background: #f4f4f4;

  .logo {
    width: 150px;
  }

  .current-page {
    text-transform: capitalize;
    text-align: center;
  }

  .notification-bell {
    font-size: 1.8rem;
  }
}
