@import "../variables.scss";

.dashboard-header {
  height: 10vh;
  width: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;

  
  .logo {
   
    display: none;

    @media only screen and (min-width: $tabletView) {
      display: block;
      flex: 1;

      img{
         max-width: 170px;
      }
    }
  }

  .current-page {
    flex: 1;

    text-transform: capitalize;
    text-align: center;
  }

  .menu-icon {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-align: left;
    font-size: 1.6rem;

    @media only screen and (min-width: $tabletView) {
      display: none;
    }

    svg {
      padding: 0.5rem;
      font-size: 2.5rem;

      border-radius: 0.3rem;

      cursor: pointer;

      transition: 0.3s;

      &:hover {
        background: #006d6b;
        color: #fff;
      }
    }
  }

  .notification-bell {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    font-size: 1.8rem;

    svg {
      padding: 0.5rem;
      font-size: 2.5rem;

      border-radius: 0.3rem;

      cursor: pointer;

      transition: 0.3s;

      &:hover {
        background: #006d6b;
        color: #fff;
      }
    }
  }
}
