* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Karla", sans-serif;
}

body {
  background: #f3f3f3;
}

.wrapper {
  max-height: 100vh;
  overflow: hidden;

  .body {
    display: flex;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    height: 90vh;
  }
}
